.header:nth-child(odd){
    margin: 5rem 0 3rem 0;
    padding-top: 30px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    /* background-image: conic-gradient(#9e9dbb, #6c6c99,#2e303d); */
    background-image:conic-gradient(
        #3b3f5a 0%, #3b3f5a 33%, #6c6c99 33%, #6c6c99 66%, #817fca 66%, var(--babyBlue)
  );

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.header:nth-child(even){
    margin: 5rem 0 3rem 0;
    padding-top: 30px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    /* background-image: conic-gradient(#9e9dbb, #6c6c99,#2e303d); */
    background-image:conic-gradient(
        #3b3f5a 0%, white 33%, #a9a9d4 33%, #c2c2e0 66%, #9dc7ff 66%, var(--babyBlue) 33%
  );

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.header p:hover{
    text-decoration: underline !important;
    cursor: pointer;
}