.hero {
  cursor: pointer;
  margin: 0px 0px 2rem 0px  !important;transform: translateY(-70px) !important;
}
.carousel{
  transform: translateY(-70px) !important;

}

@media (max-width:767px) {
  .hero{
    display:none;
  }
}

.hero-col {
  padding: 0% !important;
}
.hero-img-main {
  border-radius: 0px !important;
  height: 600px;
}
.card {
  border: none;
}
.hero-img {
  border-radius: 0px !important;
  height: 300px;
}

.card-title {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  color: rgb(255, 255, 255);
}

/* .carousel{
  margin-bottom:5rem;
  
} */

.carousel img{
  height: 450px;
}

.carousel-caption{
  display: block !important;
  background-color: rgba(44, 44, 54, 0.322);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

