.hero {
  cursor: pointer;
  margin: 0px 0px 0rem 0px  !important;transform: translateY(-70px) !important;
}
.carousel{
  transform: translateY(-70px) !important;

}

@media (max-width:767px) {
  .hero{
    display:none;
  }
}

.hero-col {
  padding: 0% !important;
}
.hero-img-main {
  border-radius: 0px !important;
  height: 100vh;
}
.card {
  border: none !important;
border-radius: 0;
  overflow: hidden;
}
.hero-img {
  border-radius: 0px !important;
  height: 50vh;
}
.hero img{
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);

}
.hero  .card:hover img{
  filter: blur(0);
  transform: scale(1);
}

.card-title {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.178);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  color: rgb(255, 255, 255);
}


.carousel img{
  height: 80vh;
}

.carousel-caption{
  display: block !important;
  background-color: rgba(44, 44, 54, 0.322);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

