.features {
  margin: 0 auto !important;
}

/* @media (min-width:1025px) {
  .features{
    max-height: 80vh !important;

  }
  
} */

.features:last-child:nth-child(3n-1) {
  grid-column: span 3;
}
.features .card {
  width: 100%;
  height: 30rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  float: left;
  opacity: 0;
  animation: fadeIn 1s ease-in both;
  margin-top: 30px;
}

#card-two {                     
  animation-delay: 1s ;
}
#card-three {
  animation-delay: 2s;
}
#card-four{
  animation-delay: 3s;
}
#card-five {
  animation-delay: 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.features img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: opacity 0.4s ease-out;
}

.features .card-img-overlay h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.card-img-overlay .card-text {
  background-color: rgba(255, 255, 255, 0.219) !important;
  border-radius: 5px;
  padding: 20px;
}

.features a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.features p {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.features .card-img-overlay p {
  inset: auto auto 80px 30px;
}

.features .card-img-overlay a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.features .card-img-overlay:hover h2 {
  inset: auto auto 150px 30px;
  transition: inset 0.3s ease-out;
}

.features .card-img-overlay:hover p,
.features .card-img-overlay:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.features .card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1 !important;
}

.material-symbols-outlined {
  vertical-align: middle;
}
